node_modules/
public/js
.cpcache/
resources/public/js/cljs-runtime/
/checkouts
/src/gen
/.lsp
/.calva

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
yarn.lock
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
.firebase

.hgignore
.hg/
package-lock.json
resources/public/js/manifest.edn