{:paths
 ["src"]
 :deps
 {thheller/shadow-cljs      {:mvn/version "2.11.25"}
  
  cljs-ajax {:mvn/version "0.8.0"}
  ;cljs-bean {:mvn/version "1.5.0"}
  
  uix.core                  {:git/url   "https://github.com/roman01la/uix.git"
                             :deps/root "core"
                             :sha       "0da33eef38a7122be226b9b9a8ae0b5431b6b5d3"}
  uix.dom                   {:git/url   "https://github.com/roman01la/uix.git"
                             :deps/root "dom"
                             :sha       "0da33eef38a7122be226b9b9a8ae0b5431b6b5d3"}
  }}
